@model List<Survey.Models.ProgrammingLanguage>


<h3 class="text-info">Qual linguagem(s) de programação você domina?</h3>
<hr />

<form asp-controller="ProgrammingLanguages" asp-action="Selected" method="post" class="form-group">
    @{
        for (int i = 0; i < Model.Count(); i++)
        {
            <input asp-for="@Model[i].Checkbox" type="checkbox" />
            <label asp-for="@Model[i].Id">@Model[i].Name</label>
            <input asp-for="@Model[i].Id" type="hidden" />
            <input asp-for="@Model[i].Name" type="hidden" />

            <br />
        }

        <input type="submit" value="Votar" class="btn btn-success" />
    }
</form>


